.inputs {
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.title {
    background: rgb(228, 87, 22);
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    border-style: solid;
    border-color: black;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

.link a {
    text-align: center;
    background: rgb(241, 166, 131);
    padding: 5px 25px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    font-size: x-large;
    margin-left: 45%;
}

.subtitle {
    background: rgb(228, 87, 22);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;

}

.back {
    background-image: url(images/backtennis.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -2;


}

.option {
    background: rgb(228, 87, 22);
    padding: 5px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.space {
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
}

.body {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.words {
    text-decoration: none;
    color: azure;
    margin-right: 100px;
    font-family: monospace;
    font-size: x-large;
}

